.page__wrapper,
.page__section {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.page__wrapper {
  flex-direction: column;
  padding: 1.5em 2em;
  max-width: 595px;
  max-height: 100vh;

  overflow: hidden scroll;
}

.page__wrapper::-webkit-scrollbar {
  width: 3px;
}

.page__wrapper::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 5px;
}
