@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("./blocks/education.css");
@import url("./blocks/info.css");
@import url("./blocks/interests.css");
@import url("./blocks/lang.css");
@import url("./page.css");

* {
  font-size: 10px;
  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

:root {
  --primary-color: #fff;
  --secondary-color: #28d979;
  --box-color: #f0f0f0;

  --text-dark-primary-color: #000000;
  --text-dark-secondary-color: #5c5c5c;
  --text-light-primary-color: #fff;
  --text-light-secondary-color: #ebf9f2;

  --font-h1-bold: 600 1.4em/104% "Poppins";
  --font-h1-medium: 500 1.4em/150% "Poppins";
  --font-h2-medium: 500 1.2em/150% "Poppins";
  --font-primary-medium: 500 1em/150% "Poppins";
  --font-primary-regular: 400 1em/150% "Poppins";
  --font-small-regular: 400 0.8em/150% "Poppins";

  font: var(--font-primary-regular);
}

h1 {
  font: var(--font-h1-medium);
}

h2 {
  font: var(--font-h2-medium);
}

li {
  list-style-type: none;
}
